<footer class="border-top footer position-absolute w-100 bottom-0 my-3">
    <div class="container text-light">
        &copy; 2024 - Course_COMP2139 - <a href="#">Luilson Sousa</a>
    </div>
</footer>