@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    var name = "Luilson Sousa";
    var studentnumber = "101275514";
    var coursecode = "COMP2139 - asp.net mvc";
    var coursename = "Web Application Development";
    var term = "Semester 4";
}

<!DOCTYPE html>
<html>

<head>

    <title> Your page title</title>

</head>

<body>

    <h1> Welcome to my Home Page</h1>
    <p> Name : @name </p>
    <p> Student Number: @studentnumber </p>
    <p> Course Code: @coursecode </p>
    <p> Course Name: @coursename </p>
    <p> Term: @term </p>

</body>
</html>